.link-guidelines,
.link-downloadcss,
.link-downloadhtml,
.link-codepen,
.link-allstyles {
  @extend .nes-btn;

  margin: 0;
  transition: transform;

  &:hover {
    transform: scale(0.98);
  }
}

.link-guidelines {
  margin: 0 auto;
}

.link-github,
.link-twittercontact,
.link-rss,
.link-support {
  @extend .nes-btn;

  display: block;
  transition: transform;

  &:hover {
    transform: scale(0.98);
  }
}

.link-github {
  // &::before {
  //   @extend .nes-icon;
  //   @extend .star;
  // }

  // Hide elements we don't use
  span, svg { display: none; }
}

.link-downloadcss,
.link-downloadhtml {
  @extend .is-error;
}

.link-twittercontact {
  @extend .is-primary;
}

.link-codepen,
.link-rss {
  @extend .is-warning;
}

.link-support {
  @extend .is-success;
}
