.page-footer {
  ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // TODO: Different layouts on smaller screens
    grid-gap: 1rem;
  }
}
