a {
  text-decoration: none;
  color: red;

  &:focus,
  &:hover {
    background-image: linear-gradient(
      90deg, #ff2400, #a17607, #11ac2b, #11a4ac, #4f77e6, #dd00f3
    );
    background-size: 1800% 1800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s linear;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }
}

@keyframes rainbow {
      0% { background-position:   0% 82% }
     50% { background-position: 100% 19% }
    100% { background-position:   0% 82% }
}

.skip-link {
  position: absolute;
  top: 5px;
  left: 5px;
  transform: translateY(-200%);

  &:focus {
    transform: translateY(0%);
  }
}
